<form action='/<%= idea.id %>' method='POST'>
  <div>
    <h3 style="text-align: center">Edit Idea: <i><%= idea.title %></i></h3>
    <div class="well well-sm" style="width: 50%; margin-left: 25%">

      <b>Title:</b><br />
      <span style="margin-left: 30px">
        <input style="width: 90%" type='text' name='idea[title]' value="<%= idea.title %>" />
      </span><br />

      <b>Description:</b><br />
      <span style="margin-left: 30px">
        <input style="width: 90%" type="text" name='idea[description]'value="<%= idea.description %>" />
      </span><br />

      <b>Tags:</b><br />
      <span style="margin-left: 30px">
        <input style="width: 90%" type='text' name='idea[tags]' value="<%= idea.tags %>" />
      </span><br />

      <b>Group:</b><br />
      <span style="margin-left: 30px">
        <input class="ui-widget" id="groups" style="width: 90%" type='text' name='idea[group]' value="<%= idea.group %>"/>
      </span><br /><br />

      <input type="hidden" name="_method" value="PUT" />
      <input class="btn btn-primary btn-lg; pull-right" style="margin-right: 5.5%" type='submit' /><br /><br />

    </div>
  </div>
</form>

<script>
$(function() {
  var availableGroups =
    <%= groups.to_json %>
  ;
  $("#groups").autocomplete({
    source: availableGroups
  });
});
</script>
