<% if location == "view_only_function" %>
  <div>
    <%= erb :view_idea_function, locals: {idea: idea} %>
    <b>Title:</b> <%= idea.title %><br />
    <b>Description:</b> <%= idea.description[0..29]%><%="…" if idea.description.length > 30 %><br />
    <b>Tags:</b> <%= idea.tags[0..29]%><%="…" if idea.tags.length > 30 %><br />
    <b>Created At:</b> <%= idea.created_at.strftime("%-m/%e/%y") %><br />
    <b>Current Vote Rank:</b> <span class="badge"><%= idea.rank %></span><br />
  </div>
<% else %>
  <div>
    <h3 style="text-align: center">Idea Title: <i><%= idea.title %></i></h3>
    <div class="well well-sm" style="width: 50%; margin-left: 25%">
      <%= erb :expanded_idea_functions, locals: {idea: idea, groups: IdeaStore.all_groups } %>
      <b>Title:</b><br /><span style="margin-left: 30px"><%= idea.title %></span><br />
      <b>Description:</b><br /><span style="margin-left: 30px"><%= idea.description %></span><br />
      <b>Tags:</b><br /><span style="margin-left: 30px"><%= idea.tags %></span><br />
      <b>Group:</b><br /><span style="margin-left: 30px"><%= idea.group %></span><br />
      <b>Created At:</b><br /><span style="margin-left: 30px"><%= idea.created_at.strftime("%r, %a %b %e %Y") %></span><br />
      <b>Updated Last At:</b><br /><span style="margin-left: 30px"><%= idea.updated_at.strftime("%r, %a %b %e %Y") %></span><br />
      <b>Current Vote Rank:</b><br /><span style="margin-left: 30px"><%= idea.rank %></span><br />
    </div>
  </div>
<% end %>
